Source: python-scratchbox
Section: python
Priority: optional
Maintainer: Ed Bartosh <bartosh@gmail.com>
Build-Depends: debhelper (>= 7), python-support
XS-Python-Version: all
Standards-Version: 3.8.4

Package: python-scratchbox
Architecture: all
Depends: ${python:Depends}
Description: Scratchbox API.
 This module provides scratchbox API scratchbox
XB-Python-Version: all

